* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

body {
  width: inherit;
  height: inherit;
  background-color: black;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

section {
  width: 60%;
  height: 80%;
  background-color: #171717;
  box-shadow: 0px 0px 20px -1px black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img {
    position: relative;
    width: 100%;
    height: 60%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: url(../resources/coffee-lab.png);
    background-position: center;
    background-size: cover;
}

.blur {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.profile_pic {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18rem;
    height: 21rem;
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px -1px black;
  }

.more {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2rem;
  margin-bottom: -1.5rem;
}

.data {
  width: 100%;
  height: 60%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  width: inherit;
  height: 100%;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

li {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 500;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

div[class^="div_update--"] {
  position: absolute;
  inset: 0;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  gap: 0.5rem;
  width: 40rem;
  /*min-height: 35rem;*/
  height: fit-content;
  padding: 1rem;
  z-index: 100;
  background-color: #f2c029;
}
div[class^="div_update--"] > h1 {
  font-size: 2.5rem;
  padding: 0rem 2rem;
  text-transform: capitalize;
  color: black;
  margin-bottom: 2rem;
}

div[class^="div_update--"] form {
  width: 100%;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1.4rem;
}

.input_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  justify-items: baseline;
  align-items: center;
}

.input_container > input:not(input[id$="_date"]) {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem;
}

div[class^="div_remove--"] {
  width: 30rem;
  height: fit-content;
  background-color: #f2c029;
  position: absolute;
  border-radius: 1rem;
  inset: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

div[class^="div_remove--"] p {
  color: black;
  font-size: 1.6rem;
}

.delete_form {
  width: 90%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.close_btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  align-self: flex-end;
}

nav {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.hidden.hidden {
  display: none;
}

button {
  width: 10em;
  min-width: 5rem;
  border: none;
  color: black;
  border-radius: 0.5rem;
  font-size: 1vw;
  font-weight: 400;
  height: 3em;
  min-height: 2rem;
  background: linear-gradient(to top, #fadd4b 50%, black 50%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition-property: background-position, color;
  transition-duration: 0.5s;
}

button:hover {
  background-position: 0 0;
  color: white;
}

.form-button {
  width: 10em;
  border: none;
  border-radius: 0.5rem;
  font-size: 1vw;
  font-weight: 600;
  height: 3em;
  margin-top: 3rem;
  color: black;
  transition-duration: 0.5s;
}

footer {
  width: 100%;
  height: 6.4rem;
  background-color: #8c7a44;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    width: 80%;
  }

  button {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .form-button {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  section {
    width: 80%;
    height: fit-content;
  }

  .img{
    height: 20rem
  }

    .profile_pic {
      position: absolute;
      left: 1rem;
      bottom: 0;
      top:0;
      margin:auto;
      width: 12rem;
      height: 15rem;
    }

  .more {
    margin-bottom: -1.9rem;
  }

  .form-button {
    font-size: 1.2rem;
  }

  .data {
    width: 100%;
    height: fit-content;
  }

  ul {
    width: inherit;
    height: fit-content;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
  }

  p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 500;
  }

  div[class^="div_remove--"] {
    max-width: 25rem;
    gap: 2rem;
    padding: 1rem;
  }

  div[class^="div_remove--"] p {
    color: black;
    font-size: 1.4rem;
  }

  div[class^="div_update--"] {
    width: 100%;
    max-width: 38rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #f2c029;
  }

  div[class^="div_update--"] > h1 {
    font-size: 2rem;
    color: black;
  }

  div[class^="div_update--"] form {
    width: 100%;
    gap: 1rem;
    padding: 0rem 2rem;
  }

  label {
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .input_container:not(.selectable) {
    width: 100%;
    margin-bottom: 1rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
  }

  .date {
    grid-template-columns: 2fr 1fr;
  }

  .input_container > input:not(input[id$="_date"]) {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
  }
  input[id$="_date"] {
    width: 10rem;
    align-self: flex-end;
  }

  button {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

