* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
  color: rgba(255, 255, 255, 0.5);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(57, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ops_info {
  width: 30rem;
  height: 40rem;
  background-color: rgb(19, 19, 19);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem;
  align-items: center;
}

.status_pic {
  background-position: center;
  background-size: cover;
  width: 10rem;
  height: 10rem;
}

.failure {
  background-image: url(../resources/failure.png);
}

.success {
  background-image: url(../resources/success.png);
}

p {
  font-size: 1.8rem;
  font-weight: 600;
}

button {
  width: 15rem;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  background-color: rgb(131, 127, 127);
  transition: 0.5s;
}

button:hover {
  background-color: rgb(73, 216, 99);
  color: black;
}
